@use '../../../assets/styles/globals' as *;

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-layout);
  color: var(--text);
  border-bottom: 1px solid var(--border);
  box-shadow: $shadow-normal;

  [data-theme='dark'] & {
    border-bottom-width: 2px;
    box-shadow: $shadow-hover;
  }

  h1 {
    @include responsive-typography($font-size-md, $font-size-base);
  }

  h1 {
    margin: 0;
    color: var(--text);
    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 1rem;
    }
  }
}

.nav {
  a {
    @include responsive-typography($font-size-base, $font-size-xs);
  }

  a {
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: $border-radius-sm;
    cursor: pointer;
    background: var(--card-bg);
    color: var(--text);
    transition: $transition-short;

    &:hover {
      background: var(--btn-hover);
      color: var(--btn-hover-color);
    }

    &.active {
      font-weight: bold;
      background: var(--btn-hover);
      color: var(--btn-hover-color);
    }
  }
}

.themeToggle {
  @include responsive-typography($font-size-base, $font-size-xs);
}

.themeToggle {
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: $border-radius-sm;
  cursor: pointer;
  background: var(--card-bg);
  color: var(--text);
  transition: $transition-short;

  &:hover {
    background: var(--btn-hover);
    color: var(--btn-hover-color);
  }
}
