.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: blue;
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    height:auto;


    .title {
      margin: 0;
      font-size: 1.5rem;
      color: white;
    }
  }